.UnderConstruction {
  background-image: url("../../../src/assets/images/UnderConstruction/backgroundUnderConstruction-Reduced.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: start;
}