:root {
  --textColor: #3f3c56;
  --mainColor: #F07622;
}

.MobileView {
  color: #3f3c56;
}

.LogoHeader {
  width: 30px;
}

.MainBannerImage {
  background-image: url('../../../../../assets/images/Home/backgroundHomeLandingCreate.svg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  height: 300px;
}

.IntroductoryTitle {
  font-size: 55px;
}

.IntroductoryParagraph {
  font-size: 21px;
  font-weight: 100;
  color: #56667B;
}

.buttonLearnMore {
  display: inline-block;
  font-size: 18px;
  font-weight: lighter;
  text-decoration: none;
  letter-spacing: 1px;
  margin: 10px 0;
  padding: 15px 30px;
  background-color: #3F3C56;
  color: #FFFFFF;
  border-radius: 5px;
}

.buttonLearnMore:hover {
  text-decoration: none;
}

.middleSection {
  background: #56667B;
}

.ContainerMiddleSection {
  padding: 40px 0;
}

.ContainerMiddleSection .backgroundContainer {
  box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.1);
}

.ImageContainerMiddle {
}

.InformativeMiddleSection {
  background: #657387;
}

/* SERVICES SECTION */

.containerHeaderTextServices {
  margin-top: 80px;
}

.headerTextServices {
  margin: 40px 0;
}

.containerCards {  }

.card-service {
  padding: 8% 8% 10px 8%;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.2);
  border: 2px solid #56667B;
}

.icon-card-service {
  width: 50%;
}

.divider-card {
  display: inline-block;
  background: var(--mainColor);
  height: 3px;
  width: 22px;
}

.text-card-service {
  font-size: 20px;
}
