

.MobileView {  }

.LogoHeader {
  width: 30px;
}

.MainBannerImage {
  background-image: url('../../../../../assets/images/Home/backgroundHomeLandingCreate.svg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  height: 300px;
}

.IntroductoryTitle {
  font-size: 60px;
}

.IntroductoryParagraph {
  font-size: 23px;
  font-weight: 100;
}
